body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image:url(./images/image.png);
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #14273b;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

#hugAnimation {
    display: none;
    margin-top: 20px;
    position: relative; 
}

#teddyBear {
    position: absolute;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%); 
    animation: hugAnimation 12s ease;
}

@keyframes hugAnimation {
    0% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(1.1);
    }
    100% {
        transform: translateX(-50%) scale(1);
    }
}

